<!DOCTYPE html>
<html>

<head>
    <title>Echo JS Scraper</title>

    <!-- Link to the jQuery Library -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <!-- Including Font Awesome Icons -->
    <script src="https://use.fontawesome.com/b38c8ed4c7.js"></script>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

    <!-- Compiled and minified Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>

    <!--External stylesheet-->
    <link rel="stylesheet" href="../../public/css/style.css">

    <!--Mobile responsivity-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--This will display a # icon on the tab-->
    <link rel="shortcut icon" type="image/png" href="#"/>
</head>

{{{ body }}}

<script src="../../public/js/app.js"></script>

</body>

</html>